* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #322f31;
}

nav {
  grid-area: nav;
  background-color: #212529;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 24px;
}

i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.726);
}

aside {
  grid-area: aside;
  background-color: #212529;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
}

li,
a {
  color: white;
}

main {
  grid-area: main;
  background-color: white;
}

footer {
  grid-area: footer;
  background-color: #212529;
  color: rgba(255, 255, 255, 0.726);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  width: 90%;
  max-width: 1200px;
  height: 756px;
  margin: 5px auto;
  outline: 1px solid #cd1719;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 3rem 1fr 1.1fr 3rem;
  grid-template-areas:
    "nav nav nav nav"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer";
  gap: 10px;
}

.grilla-de-productos {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.1fr;
}

.card {
  margin: 0.3rem;
  outline: 1px solid #cd1719;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 10px;
}

button {
  width: 100%;
  padding: 0.8rem;
}
